<div class="page-header">
  <h1>Passwort setzen</h1>
</div>

<% unless resource.errors.empty? %>
    <div class="alert alert-danger">
      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "Passwort", :class => 'col-sm-2 control-label' %>
        <div class="col-sm-8">
          <%= f.password_field :password, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Passwortbestätigung", :class => 'col-sm-2 control-label' %>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Passwort setzen", :class => 'btn btn-primary' %>
        </div>
      </div>

      <hr/>

      <%= render :partial => "devise/shared/links" %>

    <% end %>
  </div>
</div>
