<%= form_for(@groups_user) do |f| %>
  <% if @groups_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groups_user.errors.count, "error") %> prohibited this groups_user from being saved:</h2>

      <ul>
        <% @groups_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label 'Group' %>
    <div class="input uneditable-input">
      <%= @groups_user.group.name %>
    </div>
  </div>
  <div class="row">
    <%= f.label 'Login name' %>
    <div class="input uneditable-input">
      <%= @groups_user.user.login %>
    </div>
  </div>
  <div class="row">
    <%= f.label 'User' %>
    <div class="input uneditable-input">
      <%= @groups_user.user.name %>
    </div>
  </div>
  <div class="row">
    <%= f.label 'Email' %>
    <div class="input uneditable-input">
      <a href="mailto:<%= @groups_user.user.email %>?Subject=Best&auml;tigung&Body=<%= render @mail_body %>"><%= @groups_user.user.email %></a>
    </div>
  </div>
  <div class="row">
    <%= f.label :granted %>
    <div class="input">
      <%= f.check_box :granted %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
