<%= form_for(@groups_user, :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="form-group">
    <%= f.label "Group", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <p class="form-control-static">
        <%= @groups_user.group.name %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Login name", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <p class="form-control-static">
        <%= @groups_user.user.login %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "User", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <p class="form-control-static">
        <%= @groups_user.user.name %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Email", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <p class="form-control-static">
        <%= @groups_user.user.email %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Freigeschaltet", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <div class="checkbox">
        <label>
          <%= f.check_box :granted %>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a href="mailto:<%= @groups_user.user.email %>?Subject=Best&auml;tigung&Body=<%= render @mail_body %>" class="btn btn-primary">Bestätigungsnachricht verfassen...</a>
      <%= f.submit "Freigabe speichern", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
