<div class="page-header">
  <h1>Benutzergruppen</h1>
</div>

<% if @groups.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">Benutzergruppen Verwaltung</div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Gruppe</th>
            <th>Registrier-Link</th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= link_to group.name, group_path(group) %></td>
              <td><%= link_to new_user_registration_url(:group => group.name), new_user_registration_path(:group => group.name) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">Eigene Gruppen</div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Gruppe</th>
          <th>Freigeschaltet</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.groups_users.each do |groups_user| %>
          <% next if groups_user.group.nil? %>
          <tr>
            <td><%= groups_user.group.name %></td>
            <td>
              <span class="label label-<%= groups_user.granted ? 'success' : 'danger' %>">
                <%= groups_user.granted ? "ja" : "nein" %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
