<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>GIS-Browser</title>
    <base href="<%= request.protocol %><%= request.host %><%= request.port_string %>/apps/<%= @app %>/" />
    <link rel="stylesheet" type="text/css" href="resources/css/cdzh/app.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/GbZh/css/gbzh.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/GbZh/css/general.css"/>
    <script type="text/javascript" src="lib/openlayers/OpenLayers.js"></script>
    <script type="text/javascript" src="all-classes.js"></script>
    <%= render :partial => 'request_state' %>
    <script type="text/javascript" src="/lib/openlayers/lib/OpenLayers/Control/ArcIntersection.js"></script>
    <script type="text/javascript" src="/lib/openlayers/lib/OpenLayers/Control/OrthogonalLines.js"></script>
    <script type="text/javascript" src="/lib/proj4js/lib/proj4js-compressed.js"></script>
    <script type="text/javascript" src="/lib/proj4js/lib/defs/EPSG21781.js"></script>
    <script type="text/javascript" src="locale/gb41-lang-<%= I18n.locale %>.js"></script>
    <%= csrf_meta_tags %>
</head>
<body>
<noscript>Bitte aktivieren Sie Javascript und Cookies, um diese Applikation zu nutzen!</noscript>
</body>
</html>